<div class="jumbotron">
  <h1 class="display-4">Welcome to StudyOnDemand</h1>
  <p class="lead">Your platform for learning and teaching.</p>
</div>

<% if @current_student.present? %>
    <p class="alert alert-info">Welcome back, <%= @current_student.name %>!</p>
<% end %>

<% if @current_lecturer.present? %>
    <% if @current_lecturer.admin? %>
        <p class="alert alert-success">Welcome back, <%= @current_lecturer.name %>. You have signed in as an admin.</p>
    <% else %>
        <p class="alert alert-info">Welcome back, <%= @current_lecturer.name %>!</p>
    <% end %>
<% end %>

